In [1]:
import pandas as pd
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import random as rd

In [2]:
boxscore = pd.read_csv("../data/boxscore_full.csv",sep=";")
rosters = pd.read_csv("../data/rosters_full.csv",sep=";")
matchdays = pd.read_csv("../data/matches.csv",sep=";")

In [3]:
rosters.head()

,team,season,number,name,birthdate,height,weight,position
0,Bayer Giants Leverkusen,Saison_2014_2015,4,Kai Behrmann,15.06.1993,1.80 m,70 kg,PG
1,Bayer Giants Leverkusen,Saison_2014_2015,6,Sören Bich,07.02.1995,1.87 m,75 kg,PG
2,Bayer Giants Leverkusen,Saison_2014_2015,3,Richard Barada Carter Jr,17.07.1992,1.80 m,80 kg,PG
3,Bayer Giants Leverkusen,Saison_2014_2015,13,Willy Gregg Manigat,02.10.1987,1.82 m,86 kg,PG
4,Bayer Giants Leverkusen,Saison_2014_2015,5,Matthias Goddek,05.09.1986,1.96 m,96 kg,SG

In [4]:
boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,1,0.0,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,2,1.0,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0,0.0,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,0,0.0,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,2,1.0,4.0,0.0,3,1,1.0,0.0,2,4.0

In [5]:
matchdays.head()

,id,season,round,matchday,date,time,home,guest,home_points,guest_points
0,101059,Saison_2014_2015,PO,1,04.04.2015,19:00,Science City Jena,OeTTINGER Rockets Gotha,65,75
1,101058,Saison_2014_2015,PO,1,04.04.2015,19:00,s.Oliver Baskets,Hamburg Towers,73,55
2,101061,Saison_2014_2015,PO,1,04.04.2015,19:30,rent4office Nürnberg,ETB Wohnbau Baskets Essen,87,59
3,101060,Saison_2014_2015,PO,1,04.04.2015,20:00,GIESSEN 46ers,MLP Academics Heidelberg,77,64
4,101065,Saison_2014_2015,PO,2,06.04.2015,17:00,ETB Wohnbau Baskets Essen,rent4office Nürnberg,76,73

In [6]:
seasons = []
for index, row in boxscore.iterrows():
    seasons.append(matchdays.loc[matchdays['id'] == row['matchId'],'season'].sum())

boxscore['season'] = seasons

boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,0.0,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,1.0,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,0.0,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,1.0,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015

In [7]:
pos = []
for index, row in boxscore.iterrows():
    if row['name'] == 'Team':
        pos.append('999')
    else:
        pos.append(rosters.loc[(rosters['name']  == row['name']) & (rosters['team'] == row['team']) & (rosters['season'] == row['season']), 'position' ].sum() )

boxscore['position'] = pos

boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,0
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF

In [8]:
boxscore['position'].value_counts()

#boxscore[boxscore['position'] == '0'].sum()

PG     10604
SG      9290
PF      8213
C       7150
SF      7050
999     4152
0       2158
Name: position, dtype: int64

In [9]:
boxscore.head(20)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,0
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF
5,101059,Science City Jena,13.0,Georg Wilhelm Voigtmann,694,2,2,1.00,0,0,...,5.0,0.0,0,2,1.0,0.0,0,6.0,Saison_2014_2015,PF
6,101059,Science City Jena,17.0,David Edward Hicks III,1395,4,10,0.40,0,2,...,10.0,0.0,1,3,1.0,0.0,3,1.0,Saison_2014_2015,PG
7,101059,Science City Jena,20.0,Jan Heber,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG
8,101059,Science City Jena,30.0,Brady Craig Morningstar,1203,3,5,0.60,1,5,...,11.0,4.0,1,1,0.0,1.0,0,11.0,Saison_2014_2015,SG
9,101059,Science City Jena,33.0,Julius Wolf,1188,2,3,0.67,0,3,...,4.0,1.0,4,3,1.0,0.0,3,3.0,Saison_2014_2015,PF
10,101059,Science City Jena,34.0,Wayne Bernard,1873,0,1,0.00,2,4,...,8.0,2.0,1,1,0.0,3.0,0,11.0,Saison_2014_2015,SG
11,101059,Science City Jena,41.0,Mantas Virbalas,1061,3,9,0.33,0,0,...,6.0,1.0,7,4,0.0,0.0,1,7.0,Saison_2014_2015,C
12,101059,Science City Jena,999.0,Team,0,0,0,0.00,0,0,...,0.0,0.0,2,2,0.0,0.0,1,1.0,Saison_2014_2015,999
13,101059,OeTTINGER Rockets Gotha,1.0,Carlton Guyton,1890,2,4,0.50,0,4,...,9.0,7.0,3,3,0.0,1.0,4,8.0,Saison_2014_2015,SG
14,101059,OeTTINGER Rockets Gotha,6.0,Christopher Razis,1285,1,3,0.33,0,2,...,2.0,3.0,2,3,0.0,0.0,2,1.0,Saison_2014_2015,PG
15,101059,OeTTINGER Rockets Gotha,10.0,Sebastian Fülle,576,0,1,0.00,0,0,...,0.0,0.0,1,2,0.0,0.0,1,-1.0,Saison_2014_2015,SG
16,101059,OeTTINGER Rockets Gotha,11.0,Felix Hoffmann,307,1,1,1.00,0,0,...,2.0,0.0,3,0,0.0,0.0,0,4.0,Saison_2014_2015,SF
17,101059,OeTTINGER Rockets Gotha,13.0,Dmitrij Kreis,220,0,0,0.00,0,0,...,0.0,0.0,0,1,0.0,0.0,2,-2.0,Saison_2014_2015,PG
18,101059,OeTTINGER Rockets Gotha,15.0,Evan Harris,581,0,2,0.00,0,0,...,1.0,0.0,1,1,0.0,0.0,0,-1.0,Saison_2014_2015,C
19,101059,OeTTINGER Rockets Gotha,24.0,Matt Vest,1731,5,6,0.83,0,0,...,11.0,0.0,8,3,0.0,2.0,0,19.0,Saison_2014_2015,0

In [10]:
len(boxscore[boxscore['position'] == 0]['name'].unique().tolist())

72

In [11]:
boxscore[boxscore['position'] == 0]['name'].value_counts().head(30)

Robin Carl Lodders                 178
Matt Vest                          122
Richard Williams                   103
Joshua Adam Young                   97
Helge Baues                         90
Maurice Pluskota                    79
Lukas Wank                          75
Dominique Johnson                   71
Tom Alte                            69
Jeramie Woods                       65
Chase Griffin                       65
Sebastian Herrera Kratzborn         64
Alex Herrera                        63
Stefan Wess                         40
Joseph Lawson                       38
Jaleen Smith                        37
Andreas Nicklaus                    36
Besnik Bekteshi                     33
Terrell Harris                      33
Hugh Robertson                      33
Andre Murillo                       33
Bradley Tinsley                     32
Kavin Gilder-Tilbury                31
Kevin Wohlrath                      30
Courtney Allen Belger               30
Kristopher Ladon Fullwood-Davis     30
Miles Ramon Jackson-Cartwright      29
Daniel Norl                         27
Amir Carraway                       27
Keith Eugene Sherrill               27
Name: name, dtype: int64

The remaining player are matched by their jersey number

In [12]:
pos = []
for index, row in boxscore.iterrows():
    if row['position'] == 0:
        #row['position'] = rosters.loc[(rosters['number']  == row['number']) & (rosters['team'] == row['team']) & (rosters['season'] == row['season']), 'position' ].sum()
        pos.append(rosters.loc[(rosters['number']  == row['number']) & (rosters['team'] == row['team']) & (rosters['season'] == row['season']), 'position' ].sum())
    else:
        pos.append(row['position'])
        
boxscore['position'] = pos
boxscore['position'] = boxscore['position'].apply(lambda x: str(x)[:2] if len(str(x)) > 2 and x != '999' else x)

In [13]:
len(boxscore[boxscore['position'] == 0]['name'].unique().tolist())

22

In [14]:
boxscore['position'].value_counts()

PG     10922
SG      9766
PF      8529
C       7572
SF      7363
999     4152
0        313
Name: position, dtype: int64

In [15]:
boxscore[boxscore['position'] == 0]['name'].value_counts().head(22)

Jaleen Smith             37
Besnik Bekteshi          33
Courtney Allen Belger    30
Lukas Wank               22
Jordon L Talley          16
Josef Eichler            16
Dorian Adonis Pinson     16
Jeramie Bernell Woods    16
Kalidou Diouf            16
Luquon Deonti Choice     16
Alexander Angerer        16
Benedikt Nicolay         15
Till-Joscha Jönke        15
Adrian Petkovic          11
Tom Zott                 11
Jaleel Crawford           9
Griffin Bauer             8
Andreas Nicklaus          4
Ryan Richard Mikesell     3
#17                       1
unbekannt                 1
#2                        1
Name: name, dtype: int64

In [16]:
boxscore.query("name == 'Jaleen Smith'")

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
18670,104695,MLP Academics Heidelberg,3.0,Jaleen Smith,1442,3,7,0.43,0,1,...,7.0,5.0,2,3,0.0,0.0,1,7.0,Saison_2017_2018,PG
18806,104699,MLP Academics Heidelberg,3.0,Jaleen Smith,1277,1,3,0.33,0,2,...,2.0,2.0,5,3,2.0,2.0,0,9.0,Saison_2017_2018,PG
18868,104704,MLP Academics Heidelberg,3.0,Jaleen Smith,1275,1,2,0.50,1,2,...,9.0,4.0,5,3,0.0,0.0,0,16.0,Saison_2017_2018,PG
18929,104709,MLP Academics Heidelberg,3.0,Jaleen Smith,1876,2,5,0.40,2,5,...,17.0,2.0,4,4,0.0,1.0,1,16.0,Saison_2017_2018,PG
18941,104711,MLP Academics Heidelberg,3.0,Jaleen Smith,1209,2,2,1.00,0,4,...,5.0,4.0,3,4,1.0,2.0,0,11.0,Saison_2017_2018,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30269,104933,MLP Academics Heidelberg,3.0,Jaleen Smith,1587,4,8,0.50,1,4,...,12.0,6.0,4,3,0.0,0.0,1,14.0,Saison_2018_2019,0
30381,104938,MLP Academics Heidelberg,3.0,Jaleen Smith,1632,3,8,0.38,3,5,...,17.0,1.0,2,5,0.0,1.0,2,12.0,Saison_2018_2019,0
30627,104949,MLP Academics Heidelberg,3.0,Jaleen Smith,1334,6,8,0.75,1,4,...,15.0,3.0,4,4,0.0,2.0,1,18.0,Saison_2018_2019,0
30775,104954,MLP Academics Heidelberg,3.0,Jaleen Smith,1847,2,5,0.40,5,8,...,19.0,2.0,1,3,0.0,1.0,1,16.0,Saison_2018_2019,0
30948,104959,MLP Academics Heidelberg,3.0,Jaleen Smith,2158,6,10,0.60,2,3,...,20.0,2.0,4,3,0.0,2.0,1,22.0,Saison_2018_2019,0

In [17]:
pos = []
for index, row in boxscore.iterrows():
    if row['position'] == 0:
        p = rd.randint(1,10000)
        if p >= 1 and p < 2474:
            pos.append('PG')
        elif p >= 2474 and p < 4686:
            pos.append('SG')
        elif p >= 4686 and p < 6619:
            pos.append('PF')
        elif p >= 6619 and p < 8333:
            pos.append('C')
        else:
            pos.append('SF')
    else:
        pos.append(row['position'])
        
boxscore['position'] = pos
boxscore['position'].value_counts()

PG     11014
SG      9841
PF      8576
C       7621
SF      7413
999     4152
Name: position, dtype: int64

In [18]:
b = boxscore

# Scoring Function

In [19]:
#weights 
ce = [0.1915782478, 0.20880163, 0.1893672373, 0.2180375816, 0.09638690678, 0.2759764396, 0.1825556534]
pf = [0.208360037, 0.2011743018, 0.1967942263, 0.1981649906, 0.136708574, 0.2461256934, 0.2025059741]
pg = [0.2072206793, 0.193809877, 0.1676177688, 0.2171361032, 0.3769396308, 0.1480528393, 0.2148157464]
sf = [0.1813715018, 0.1989051952, 0.2517483496, 0.178773188, 0.155170461, 0.1790472923, 0.1938907056]
sg = [0.2114695341, 0.197308996, 0.194472418, 0.1878881365, 0.2347944275, 0.1507977355, 0.2062319205]

In [20]:
score = []
capstone = boxscore.query("matchId == 108956")
capstone.head(25)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
42277,108956,Medipolis SC Jena,2.0,Jonathan Malu Kazadi Muyombu,1058,2,3,0.67,0,1,...,4.0,4.0,5,3,0.0,1.0,0,12.0,Saison_2021_2022,SG
42278,108956,Medipolis SC Jena,5.0,Nico Brauner,852,0,0,0.00,2,4,...,6.0,1.0,0,2,0.0,0.0,0,5.0,Saison_2021_2022,SG
42279,108956,Medipolis SC Jena,10.0,Julius Wolf,1596,6,8,0.75,0,3,...,12.0,1.0,2,4,1.0,1.0,1,11.0,Saison_2021_2022,PF
42280,108956,Medipolis SC Jena,11.0,Rayshawn Laron Simmons,1940,4,7,0.57,1,3,...,11.0,10.0,2,1,0.0,0.0,2,14.0,Saison_2021_2022,PG
42281,108956,Medipolis SC Jena,13.0,Clinton Daniel Chapman,892,2,2,1.00,0,2,...,4.0,1.0,1,4,0.0,0.0,2,0.0,Saison_2021_2022,PF
42282,108956,Medipolis SC Jena,16.0,Moritz Plescher,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,SG
42283,108956,Medipolis SC Jena,21.0,Rafael Alberton Rodrigues,67,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,C
42284,108956,Medipolis SC Jena,25.0,Lorenz Bank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,SF
42285,108956,Medipolis SC Jena,33.0,Brandon Omar Thomas,1852,2,6,0.33,1,5,...,9.0,0.0,4,0,1.0,1.0,1,6.0,Saison_2021_2022,SF
42286,108956,Medipolis SC Jena,35.0,Stephan Haukohl,907,2,3,0.67,0,1,...,6.0,0.0,2,2,2.0,0.0,0,8.0,Saison_2021_2022,PF
42287,108956,Medipolis SC Jena,41.0,Alexander James Herrera,1343,3,7,0.43,0,0,...,7.0,1.0,11,0,4.0,1.0,0,17.0,Saison_2021_2022,C
42288,108956,Medipolis SC Jena,44.0,Vuk Radojicic,1493,1,1,1.00,5,8,...,17.0,1.0,1,3,0.0,0.0,4,12.0,Saison_2021_2022,PG
42289,108956,Medipolis SC Jena,999.0,Team,0,0,0,0.00,0,0,...,0.0,0.0,8,0,0.0,0.0,0,8.0,Saison_2021_2022,999
42290,108956,ROSTOCK SEAWOLVES,0.0,Robert Albert Montgomery Jr.,281,0,0,0.00,0,0,...,0.0,0.0,1,2,0.0,0.0,0,1.0,Saison_2021_2022,PF
42291,108956,ROSTOCK SEAWOLVES,2.0,Tyler Nelson,1228,4,7,0.57,4,10,...,22.0,1.0,3,2,1.0,1.0,0,19.0,Saison_2021_2022,SG
42292,108956,ROSTOCK SEAWOLVES,3.0,Jose Gabriel de Oliveira Neto,665,0,2,0.00,0,1,...,0.0,1.0,2,2,0.0,0.0,1,-1.0,Saison_2021_2022,C
42293,108956,ROSTOCK SEAWOLVES,4.0,Svante Schmundt,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,PG
42294,108956,ROSTOCK SEAWOLVES,5.0,Christopher John Carter,1342,2,5,0.40,1,4,...,10.0,4.0,3,3,0.0,0.0,2,8.0,Saison_2021_2022,PG
42295,108956,ROSTOCK SEAWOLVES,14.0,Jordan Jamal Roland,1172,2,3,0.67,1,3,...,7.0,0.0,1,1,0.0,0.0,1,4.0,Saison_2021_2022,PG
42296,108956,ROSTOCK SEAWOLVES,18.0,Till Gloger,1735,9,10,0.90,0,0,...,21.0,2.0,5,3,0.0,0.0,1,25.0,Saison_2021_2022,C
42297,108956,ROSTOCK SEAWOLVES,19.0,Sid-Marlon Theis,1782,1,2,0.50,0,2,...,2.0,2.0,8,2,0.0,1.0,1,9.0,Saison_2021_2022,PF
42298,108956,ROSTOCK SEAWOLVES,21.0,Michael Jost,618,0,0,0.00,0,1,...,0.0,0.0,2,1,0.0,0.0,1,0.0,Saison_2021_2022,PF
42299,108956,ROSTOCK SEAWOLVES,22.0,Nijal Eman Pearson,2119,5,9,0.56,0,2,...,13.0,3.0,1,1,1.0,3.0,1,13.0,Saison_2021_2022,SF
42300,108956,ROSTOCK SEAWOLVES,35.0,Bradley Alexander Loesing,1058,0,3,0.00,0,0,...,2.0,4.0,2,1,0.0,0.0,0,5.0,Saison_2021_2022,PG
42301,108956,ROSTOCK SEAWOLVES,999.0,Team,0,0,0,0.00,0,0,...,0.0,0.0,7,0,0.0,0.0,2,5.0,Saison_2021_2022,999

In [21]:
def score_calc (values : list, weights : list):
    sum = 0
    max = 0
    for i in range(len(values)):
        if values[i] > 1:
            values[i] = 1
        elif values[i] < 0:
            values[i] = 0
        sum = sum + (values[i]*weights[i]*10)
        max = max + (weights[i]*10)
    return (sum/max)*100

In [22]:

for index, row in capstone.iterrows():
    if row['name'] == 'Team':
        score.append(1000.0)
    elif row['sec'] == 0:
        score.append(0.0)
    else:
        pn = row['Ps'] / 25
        if (row['FG_A']+row['FT_A']) == 0:
            efg = 0.0
        else:
            efg = ((row['3P_P']*1.5 + row['2P_P'] + row['FT_P']*0.5)/ (row['FG_A']+row['FT_A']))/1.115
        tn = 1 - (row['TOs']/4)
        sbn = (row['STs']+row['BLs'])/2
        an = row['As']/7
        rn = row['Rs']/10
        tim = row['sec'] / 2400
        values = [pn,efg,tn,sbn,an,tim]
        weights = []
        if row['position'] == "C":
            score.append(score_calc(values,ce))
        elif row['position'] == "PF":
            score.append(score_calc(values,pf))
        elif row['position'] == "PG":
            score.append(score_calc(values,pg))
        elif row['position'] == "SF":
            score.append(score_calc(values,sf))
        elif row['position'] == "SG":
            score.append(score_calc(values,sg))
        else:
            score.append(-1)

capstone['scores'] = score
capstone.head(25)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,As,Rs,Fs,BLs,STs,TOs,EFs,season,position,scores
42277,108956,Medipolis SC Jena,2.0,Jonathan Malu Kazadi Muyombu,1058,2,3,0.67,0,1,...,4.0,5,3,0.0,1.0,0,12.0,Saison_2021_2022,SG,51.955440
42278,108956,Medipolis SC Jena,5.0,Nico Brauner,852,0,0,0.00,2,4,...,1.0,0,2,0.0,0.0,0,5.0,Saison_2021_2022,SG,39.517895
42279,108956,Medipolis SC Jena,10.0,Julius Wolf,1596,6,8,0.75,0,3,...,1.0,2,4,1.0,1.0,1,11.0,Saison_2021_2022,PF,61.262837
42280,108956,Medipolis SC Jena,11.0,Rayshawn Laron Simmons,1940,4,7,0.57,1,3,...,10.0,2,1,0.0,0.0,2,14.0,Saison_2021_2022,PG,57.314818
42281,108956,Medipolis SC Jena,13.0,Clinton Daniel Chapman,892,2,2,1.00,0,2,...,1.0,1,4,0.0,0.0,2,0.0,Saison_2021_2022,PF,25.509638
42282,108956,Medipolis SC Jena,16.0,Moritz Plescher,0,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,SG,0.000000
42283,108956,Medipolis SC Jena,21.0,Rafael Alberton Rodrigues,67,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,C,16.698886
42284,108956,Medipolis SC Jena,25.0,Lorenz Bank,0,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,SF,0.000000
42285,108956,Medipolis SC Jena,33.0,Brandon Omar Thomas,1852,2,6,0.33,1,5,...,0.0,4,0,1.0,1.0,1,6.0,Saison_2021_2022,SF,55.265037
42286,108956,Medipolis SC Jena,35.0,Stephan Haukohl,907,2,3,0.67,0,1,...,0.0,2,2,2.0,0.0,0,8.0,Saison_2021_2022,PF,52.908161
42287,108956,Medipolis SC Jena,41.0,Alexander James Herrera,1343,3,7,0.43,0,0,...,1.0,11,0,4.0,1.0,0,17.0,Saison_2021_2022,C,58.368334
42288,108956,Medipolis SC Jena,44.0,Vuk Radojicic,1493,1,1,1.00,5,8,...,1.0,1,3,0.0,0.0,4,12.0,Saison_2021_2022,PG,34.408877
42289,108956,Medipolis SC Jena,999.0,Team,0,0,0,0.00,0,0,...,0.0,8,0,0.0,0.0,0,8.0,Saison_2021_2022,999,1000.000000
42290,108956,ROSTOCK SEAWOLVES,0.0,Robert Albert Montgomery Jr.,281,0,0,0.00,0,0,...,0.0,1,2,0.0,0.0,0,1.0,Saison_2021_2022,PF,19.001613
42291,108956,ROSTOCK SEAWOLVES,2.0,Tyler Nelson,1228,4,7,0.57,4,10,...,1.0,3,2,1.0,1.0,0,19.0,Saison_2021_2022,SG,66.421605
42292,108956,ROSTOCK SEAWOLVES,3.0,Jose Gabriel de Oliveira Neto,665,0,2,0.00,0,1,...,1.0,2,2,0.0,0.0,1,-1.0,Saison_2021_2022,C,19.680875
42293,108956,ROSTOCK SEAWOLVES,4.0,Svante Schmundt,0,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,PG,0.000000
42294,108956,ROSTOCK SEAWOLVES,5.0,Christopher John Carter,1342,2,5,0.40,1,4,...,4.0,3,3,0.0,0.0,2,8.0,Saison_2021_2022,PG,40.566132
42295,108956,ROSTOCK SEAWOLVES,14.0,Jordan Jamal Roland,1172,2,3,0.67,1,3,...,0.0,1,1,0.0,0.0,1,4.0,Saison_2021_2022,PG,27.268527
42296,108956,ROSTOCK SEAWOLVES,18.0,Till Gloger,1735,9,10,0.90,0,0,...,2.0,5,3,0.0,0.0,1,25.0,Saison_2021_2022,C,56.810480
42297,108956,ROSTOCK SEAWOLVES,19.0,Sid-Marlon Theis,1782,1,2,0.50,0,2,...,2.0,8,2,0.0,1.0,1,9.0,Saison_2021_2022,PF,44.660053
42298,108956,ROSTOCK SEAWOLVES,21.0,Michael Jost,618,0,0,0.00,0,1,...,0.0,2,1,0.0,0.0,1,0.0,Saison_2021_2022,PF,17.768727
42299,108956,ROSTOCK SEAWOLVES,22.0,Nijal Eman Pearson,2119,5,9,0.56,0,2,...,3.0,1,1,1.0,3.0,1,13.0,Saison_2021_2022,SF,66.705231
42300,108956,ROSTOCK SEAWOLVES,35.0,Bradley Alexander Loesing,1058,0,3,0.00,0,0,...,4.0,2,1,0.0,0.0,0,5.0,Saison_2021_2022,PG,38.116344
42301,108956,ROSTOCK SEAWOLVES,999.0,Team,0,0,0,0.00,0,0,...,0.0,7,0,0.0,0.0,2,5.0,Saison_2021_2022,999,1000.000000

scores over all boxscores

In [23]:
score = []
for index, row in boxscore.iterrows():
    if row['name'] == 'Team':
        score.append(1000.0)
    elif row['sec'] == 0:
        score.append(0.0)
    else:
        pn = row['Ps'] / 25
        if (row['FG_A']+row['FT_A']) == 0:
            efg = 0.0
        else:
            efg = ((row['3P_P']*1.5 + row['2P_P'] + row['FT_P']*0.5)/ (row['FG_A']+row['FT_A']))/1.115
        tn = 1 - (row['TOs']/4)
        sbn = (row['STs']+row['BLs'])/2
        an = row['As']/7
        rn = row['Rs']/10
        tim = row['sec'] / 2400
        values = [pn,efg,tn,sbn,an,tim]
        weights = []
        if row['position'] == "C":
            score.append(score_calc(values,ce))
        elif row['position'] == "PF":
            score.append(score_calc(values,pf))
        elif row['position'] == "PG":
            score.append(score_calc(values,pg))
        elif row['position'] == "SF":
            score.append(score_calc(values,sf))
        elif row['position'] == "SG":
            score.append(score_calc(values,sg))
        else:
            score.append(-1)

boxscore['scores'] = score
boxscore.head(25)

boxscore_feature = boxscore

In [24]:
boxscore_feature.head(25)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,As,Rs,Fs,BLs,STs,TOs,EFs,season,position,scores
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C,50.239399
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG,51.473942
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG,0.000000
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG,20.285062
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF,31.898887
5,101059,Science City Jena,13.0,Georg Wilhelm Voigtmann,694,2,2,1.00,0,0,...,0.0,0,2,1.0,0.0,0,6.0,Saison_2014_2015,PF,47.086790
6,101059,Science City Jena,17.0,David Edward Hicks III,1395,4,10,0.40,0,2,...,0.0,1,3,1.0,0.0,3,1.0,Saison_2014_2015,PG,29.104513
7,101059,Science City Jena,20.0,Jan Heber,0,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG,0.000000
8,101059,Science City Jena,30.0,Brady Craig Morningstar,1203,3,5,0.60,1,5,...,4.0,1,1,0.0,1.0,0,11.0,Saison_2014_2015,SG,57.134947
9,101059,Science City Jena,33.0,Julius Wolf,1188,2,3,0.67,0,3,...,1.0,4,3,1.0,0.0,3,3.0,Saison_2014_2015,PF,32.267623
10,101059,Science City Jena,34.0,Wayne Bernard,1873,0,1,0.00,2,4,...,2.0,1,1,0.0,3.0,0,11.0,Saison_2014_2015,SG,62.539282
11,101059,Science City Jena,41.0,Mantas Virbalas,1061,3,9,0.33,0,0,...,1.0,7,4,0.0,0.0,1,7.0,Saison_2014_2015,C,32.724739
12,101059,Science City Jena,999.0,Team,0,0,0,0.00,0,0,...,0.0,2,2,0.0,0.0,1,1.0,Saison_2014_2015,999,1000.000000
13,101059,OeTTINGER Rockets Gotha,1.0,Carlton Guyton,1890,2,4,0.50,0,4,...,7.0,3,3,0.0,1.0,4,8.0,Saison_2014_2015,SG,49.009353
14,101059,OeTTINGER Rockets Gotha,6.0,Christopher Razis,1285,1,3,0.33,0,2,...,3.0,2,3,0.0,0.0,2,1.0,Saison_2014_2015,PG,28.682696
15,101059,OeTTINGER Rockets Gotha,10.0,Sebastian Fülle,576,0,1,0.00,0,0,...,0.0,1,2,0.0,0.0,1,-1.0,Saison_2014_2015,SG,15.470463
16,101059,OeTTINGER Rockets Gotha,11.0,Felix Hoffmann,307,1,1,1.00,0,0,...,0.0,3,0,0.0,0.0,0,4.0,Saison_2014_2015,SF,33.043762
17,101059,OeTTINGER Rockets Gotha,13.0,Dmitrij Kreis,220,0,0,0.00,0,0,...,0.0,0,1,0.0,0.0,2,-2.0,Saison_2014_2015,PG,7.429212
18,101059,OeTTINGER Rockets Gotha,15.0,Evan Harris,581,0,2,0.00,0,0,...,0.0,1,1,0.0,0.0,0,-1.0,Saison_2014_2015,C,24.339990
19,101059,OeTTINGER Rockets Gotha,24.0,Matt Vest,1731,5,6,0.83,0,0,...,0.0,8,3,0.0,2.0,0,19.0,Saison_2014_2015,SF,66.558564
20,101059,OeTTINGER Rockets Gotha,33.0,Marco Völler,1217,1,2,0.50,1,3,...,0.0,4,2,1.0,2.0,1,12.0,Saison_2014_2015,PF,53.559130
21,101059,OeTTINGER Rockets Gotha,34.0,Will Reinke,1496,9,13,0.69,0,0,...,0.0,5,2,3.0,1.0,3,26.0,Saison_2014_2015,C,62.669520
22,101059,OeTTINGER Rockets Gotha,35.0,Brad Lösing,1498,1,2,0.50,1,4,...,2.0,4,2,0.0,1.0,5,5.0,Saison_2014_2015,PG,33.777144
23,101059,OeTTINGER Rockets Gotha,47.0,Albert Kuppe,1199,1,2,0.50,1,3,...,0.0,0,1,0.0,0.0,0,6.0,Saison_2014_2015,PF,40.846076
24,101059,OeTTINGER Rockets Gotha,999.0,Team,0,0,0,0.00,0,0,...,0.0,6,0,0.0,0.0,3,3.0,Saison_2014_2015,999,1000.000000

In [25]:
%store boxscore_feature

Stored 'boxscore_feature' (DataFrame)

In [26]:
capstone.loc[(capstone['team'] == "Medipolis SC Jena") & (capstone['position'] == "C"), "scores"].to_list()

[16.69888627344083, 58.368333888750776]

In [27]:
boxscore_feature.query("sec >= 2400").shape[0]

192

In [28]:
boxscore_feature.query("sec >= 2400")

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,As,Rs,Fs,BLs,STs,TOs,EFs,season,position,scores
719,100004,Bayer Giants Leverkusen,13.0,Willy Gregg Manigat,2400,4,10,0.40,5,13,...,3.0,1,1,0.0,1.0,3,13.0,Saison_2014_2015,PG,57.292963
776,100016,Bayer Giants Leverkusen,23.0,Marc Sonnen,2564,1,1,1.00,2,14,...,6.0,7,5,0.0,2.0,5,8.0,Saison_2014_2015,SG,58.807247
922,100010,NINERS CHEMNITZ,4.0,Virgil Micheaux Matthews,2822,3,7,0.43,1,7,...,11.0,7,5,0.0,6.0,2,23.0,Saison_2014_2015,PG,75.541755
927,100010,NINERS CHEMNITZ,9.0,Andre Clinton Calvin,2614,6,14,0.43,0,3,...,0.0,23,1,3.0,3.0,0,31.0,Saison_2014_2015,PF,68.606641
930,100010,NINERS CHEMNITZ,24.0,Levi Kevin Knutson,2782,9,16,0.56,4,8,...,3.0,5,2,0.0,0.0,4,25.0,Saison_2014_2015,SG,48.199001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46956,108777,wiha Panthers Schwenningen,33.0,Chris Frazier,2586,2,5,0.40,5,9,...,3.0,4,2,0.0,2.0,1,24.0,Saison_2021_2022,SG,75.869092
47118,108788,VfL Kirchheim Knights,21.0,Rohndell Domminic Goodwin,2441,3,9,0.33,4,11,...,2.0,6,4,1.0,2.0,4,20.0,Saison_2021_2022,SG,59.435742
47119,108788,VfL Kirchheim Knights,24.0,Jonathon Williams,2597,3,7,0.43,0,2,...,2.0,6,2,0.0,1.0,4,5.0,Saison_2021_2022,SF,38.795184
47164,108790,Tigers Tübingen,33.0,Ryan Richard Mikesell,2474,7,10,0.70,3,6,...,3.0,10,5,1.0,1.0,6,25.0,Saison_2021_2022,SF,62.171911
48217,108841,wiha Panthers Schwenningen,32.0,Waverly Austin,2457,7,11,0.64,0,1,...,3.0,12,4,2.0,2.0,1,33.0,Saison_2021_2022,C,79.197471

In [29]:
boxscore_feature.shape[0]

48617

# Score v2 

Values are normalized by position specific min and max values

In [30]:
boxscore.drop(columns=['scores'], inplace=True)
boxscore.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF

In [31]:
boxscore_basic = boxscore.copy()

In [32]:
#Whiskers
#points, assists, efg, turnover, steals & blocks, rebounds
pg_uw = [26,10,1.1,7,2,8,1]
pg_lw = [0,0,0.136,0,0,0,0]
sg_uw = [27,7,1.115,4,2,8,1]
sg_lw = [0,0,0.136,0,0,0,0]
sf_uw = [24,4,1.111,4,2,8,1]
sf_lw = [0,0,0.136,0,0,0,0]
pf_uw = [25,4,1.115,4,2,11,1]
pf_lw = [0,0,0.136,0,0,0,0]
c_uw = [23,2,1.2,4,4,14,1]
c_lw = [0,0,0.083,0,0,0,0]

#whiskers for 0-positions NOT NEEDED ANYMORE
O_uw = [26,5,1.071,4,2,9]
O_lw = [0,0,0.167,0,0,0]

#Lists with all upper and lower whiskers
#uws = [pg_uw,sg_uw,sf_uw,...]

In [33]:
capstone_test = boxscore.query("matchId == 108956")

In [34]:
capstone_test.head(25)

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
42277,108956,Medipolis SC Jena,2.0,Jonathan Malu Kazadi Muyombu,1058,2,3,0.67,0,1,...,4.0,4.0,5,3,0.0,1.0,0,12.0,Saison_2021_2022,SG
42278,108956,Medipolis SC Jena,5.0,Nico Brauner,852,0,0,0.00,2,4,...,6.0,1.0,0,2,0.0,0.0,0,5.0,Saison_2021_2022,SG
42279,108956,Medipolis SC Jena,10.0,Julius Wolf,1596,6,8,0.75,0,3,...,12.0,1.0,2,4,1.0,1.0,1,11.0,Saison_2021_2022,PF
42280,108956,Medipolis SC Jena,11.0,Rayshawn Laron Simmons,1940,4,7,0.57,1,3,...,11.0,10.0,2,1,0.0,0.0,2,14.0,Saison_2021_2022,PG
42281,108956,Medipolis SC Jena,13.0,Clinton Daniel Chapman,892,2,2,1.00,0,2,...,4.0,1.0,1,4,0.0,0.0,2,0.0,Saison_2021_2022,PF
42282,108956,Medipolis SC Jena,16.0,Moritz Plescher,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,SG
42283,108956,Medipolis SC Jena,21.0,Rafael Alberton Rodrigues,67,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,C
42284,108956,Medipolis SC Jena,25.0,Lorenz Bank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,SF
42285,108956,Medipolis SC Jena,33.0,Brandon Omar Thomas,1852,2,6,0.33,1,5,...,9.0,0.0,4,0,1.0,1.0,1,6.0,Saison_2021_2022,SF
42286,108956,Medipolis SC Jena,35.0,Stephan Haukohl,907,2,3,0.67,0,1,...,6.0,0.0,2,2,2.0,0.0,0,8.0,Saison_2021_2022,PF
42287,108956,Medipolis SC Jena,41.0,Alexander James Herrera,1343,3,7,0.43,0,0,...,7.0,1.0,11,0,4.0,1.0,0,17.0,Saison_2021_2022,C
42288,108956,Medipolis SC Jena,44.0,Vuk Radojicic,1493,1,1,1.00,5,8,...,17.0,1.0,1,3,0.0,0.0,4,12.0,Saison_2021_2022,PG
42289,108956,Medipolis SC Jena,999.0,Team,0,0,0,0.00,0,0,...,0.0,0.0,8,0,0.0,0.0,0,8.0,Saison_2021_2022,999
42290,108956,ROSTOCK SEAWOLVES,0.0,Robert Albert Montgomery Jr.,281,0,0,0.00,0,0,...,0.0,0.0,1,2,0.0,0.0,0,1.0,Saison_2021_2022,PF
42291,108956,ROSTOCK SEAWOLVES,2.0,Tyler Nelson,1228,4,7,0.57,4,10,...,22.0,1.0,3,2,1.0,1.0,0,19.0,Saison_2021_2022,SG
42292,108956,ROSTOCK SEAWOLVES,3.0,Jose Gabriel de Oliveira Neto,665,0,2,0.00,0,1,...,0.0,1.0,2,2,0.0,0.0,1,-1.0,Saison_2021_2022,C
42293,108956,ROSTOCK SEAWOLVES,4.0,Svante Schmundt,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2021_2022,PG
42294,108956,ROSTOCK SEAWOLVES,5.0,Christopher John Carter,1342,2,5,0.40,1,4,...,10.0,4.0,3,3,0.0,0.0,2,8.0,Saison_2021_2022,PG
42295,108956,ROSTOCK SEAWOLVES,14.0,Jordan Jamal Roland,1172,2,3,0.67,1,3,...,7.0,0.0,1,1,0.0,0.0,1,4.0,Saison_2021_2022,PG
42296,108956,ROSTOCK SEAWOLVES,18.0,Till Gloger,1735,9,10,0.90,0,0,...,21.0,2.0,5,3,0.0,0.0,1,25.0,Saison_2021_2022,C
42297,108956,ROSTOCK SEAWOLVES,19.0,Sid-Marlon Theis,1782,1,2,0.50,0,2,...,2.0,2.0,8,2,0.0,1.0,1,9.0,Saison_2021_2022,PF
42298,108956,ROSTOCK SEAWOLVES,21.0,Michael Jost,618,0,0,0.00,0,1,...,0.0,0.0,2,1,0.0,0.0,1,0.0,Saison_2021_2022,PF
42299,108956,ROSTOCK SEAWOLVES,22.0,Nijal Eman Pearson,2119,5,9,0.56,0,2,...,13.0,3.0,1,1,1.0,3.0,1,13.0,Saison_2021_2022,SF
42300,108956,ROSTOCK SEAWOLVES,35.0,Bradley Alexander Loesing,1058,0,3,0.00,0,0,...,2.0,4.0,2,1,0.0,0.0,0,5.0,Saison_2021_2022,PG
42301,108956,ROSTOCK SEAWOLVES,999.0,Team,0,0,0,0.00,0,0,...,0.0,0.0,7,0,0.0,0.0,2,5.0,Saison_2021_2022,999

In [35]:
def score_cat_calc (value : float, upper_w : list, lower_w : list):
    #normalize score
    score = (value - lower_w) / (upper_w - lower_w)

    #catch outliers
    if score > 1 :
        return 1
    elif score < 0 :
        return 0
    else: 
        return score

Score list content / order:  
0 - Points  
1 - Assists  
2 - EFG (scored points/attempts)  
3 - Turnovers   
4 - Steals & Blocks  
5 - Rebounds  
6 - Time on field

In [36]:
points = []
assists = []
efg = []
to = []
stbl = []
reb = []
min = []

score_list = [points,assists,efg,to,stbl,reb,min]

In [37]:
len(score_list)

7

In [38]:
capstone.columns

Index(['matchId', 'team', 'number', 'name', 'sec', '2P_P', '2P_A', '2P_R',
       '3P_P', '3P_A', '3P_R', 'FG_P', 'FG_A', 'FG_R', 'FT_P', 'FT_A', 'FT_R',
       'Ps', 'As', 'Rs', 'Fs', 'BLs', 'STs', 'TOs', 'EFs', 'season',
       'position', 'scores'],
      dtype='object')

In [39]:
def df_scores_calc(row : pd.Series ,categories : list, upper_whiskers : list, lower_whiskers : list):
    #points
    categories[0].append(score_cat_calc(row['2P_P'],upper_whiskers[0],lower_whiskers[0]))
    #assists
    categories[1].append(score_cat_calc(row['As'], upper_whiskers[1],lower_whiskers[1]))
    #efg
    if (row['FG_A']+row['FT_A']) == 0:
        categories[2].append(0.0)
    else:
        efg = ((row['3P_P']*1.5 + row['2P_P'] + row['FT_P']*0.5)/ (row['FG_A']+row['FT_A']))
        categories[2].append(score_cat_calc(efg, upper_whiskers[2], lower_whiskers[2]))
    #turnovers
    categories[3].append(1 - score_cat_calc(row['TOs'], upper_whiskers[3], lower_whiskers[3]))
    #steals & blocks
    categories[4].append(score_cat_calc(row['STs']+row['BLs'], upper_whiskers[4], lower_whiskers[4]))
    #rebounds
    categories[5].append(score_cat_calc(row['Rs'], upper_whiskers[5], lower_whiskers[5]))
    #time
    categories[6].append(score_cat_calc(row['sec'] / 2400, upper_whiskers[6], lower_whiskers[6]))

In [40]:
def zero_fill(categories: list):
    for i in range(len(categories)):
        categories[i].append(0.0)

In [41]:

for index,row in capstone_test.iterrows():
    if row['name'] == 'Team' or row['sec'] == 0:
        zero_fill(score_list)
    else:
        if row['position'] == 'PG':
            df_scores_calc(row, score_list, pg_uw, pg_lw)
        elif row['position'] == 'SG':
            df_scores_calc(row, score_list, sg_uw, sg_lw)
        elif row['position'] == 'SF':
            df_scores_calc(row, score_list, sf_uw, sf_lw)
        elif row['position'] == 'PF':
            df_scores_calc(row, score_list, pf_uw, pf_lw)
        elif row['position'] == 'C':
            df_scores_calc(row, score_list, c_uw, c_lw)
        else:
            print('An error occured : NULL-Position')

print('Everything went well')

capstone_test['Points_score'] = score_list[0]
capstone_test['Assist_score'] = score_list[1]
capstone_test['EFG_score'] = score_list[2]
capstone_test['TO_score'] = score_list[3]
capstone_test['STBL_score'] = score_list[4]
capstone_test['Reb_score'] = score_list[5]
capstone_test['time_score'] = score_list[6]

capstone_test.head(25)

Everything went well

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,EFs,season,position,Points_score,Assist_score,EFG_score,TO_score,STBL_score,Reb_score,time_score
42277,108956,Medipolis SC Jena,2.0,Jonathan Malu Kazadi Muyombu,1058,2,3,0.67,0,1,...,12.0,Saison_2021_2022,SG,0.074074,0.571429,0.371808,1.000000,0.5,0.625000,0.440833
42278,108956,Medipolis SC Jena,5.0,Nico Brauner,852,0,0,0.00,2,4,...,5.0,Saison_2021_2022,SG,0.000000,0.142857,0.627171,1.000000,0.0,0.000000,0.355000
42279,108956,Medipolis SC Jena,10.0,Julius Wolf,1596,6,8,0.75,0,3,...,11.0,Saison_2021_2022,PF,0.240000,0.250000,0.418238,0.750000,1.0,0.181818,0.665000
42280,108956,Medipolis SC Jena,11.0,Rayshawn Laron Simmons,1940,4,7,0.57,1,3,...,14.0,Saison_2021_2022,PG,0.153846,1.000000,0.334371,0.714286,0.0,0.250000,0.808333
42281,108956,Medipolis SC Jena,13.0,Clinton Daniel Chapman,892,2,2,1.00,0,2,...,0.0,Saison_2021_2022,PF,0.080000,0.250000,0.201566,0.500000,0.0,0.090909,0.371667
42282,108956,Medipolis SC Jena,16.0,Moritz Plescher,0,0,0,0.00,0,0,...,0.0,Saison_2021_2022,SG,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
42283,108956,Medipolis SC Jena,21.0,Rafael Alberton Rodrigues,67,0,0,0.00,0,0,...,0.0,Saison_2021_2022,C,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.027917
42284,108956,Medipolis SC Jena,25.0,Lorenz Bank,0,0,0,0.00,0,0,...,0.0,Saison_2021_2022,SF,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
42285,108956,Medipolis SC Jena,33.0,Brandon Omar Thomas,1852,2,6,0.33,1,5,...,6.0,Saison_2021_2022,SF,0.083333,0.000000,0.215542,0.750000,1.0,0.500000,0.771667
42286,108956,Medipolis SC Jena,35.0,Stephan Haukohl,907,2,3,0.67,0,1,...,8.0,Saison_2021_2022,PF,0.080000,0.000000,0.371808,1.000000,1.0,0.181818,0.377917
42287,108956,Medipolis SC Jena,41.0,Alexander James Herrera,1343,3,7,0.43,0,0,...,17.0,Saison_2021_2022,C,0.130435,0.500000,0.210548,1.000000,1.0,0.785714,0.559583
42288,108956,Medipolis SC Jena,44.0,Vuk Radojicic,1493,1,1,1.00,5,8,...,12.0,Saison_2021_2022,PG,0.038462,0.100000,0.838635,0.428571,0.0,0.125000,0.622083
42289,108956,Medipolis SC Jena,999.0,Team,0,0,0,0.00,0,0,...,8.0,Saison_2021_2022,999,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
42290,108956,ROSTOCK SEAWOLVES,0.0,Robert Albert Montgomery Jr.,281,0,0,0.00,0,0,...,1.0,Saison_2021_2022,PF,0.000000,0.000000,0.000000,1.000000,0.0,0.090909,0.117083
42291,108956,ROSTOCK SEAWOLVES,2.0,Tyler Nelson,1228,4,7,0.57,4,10,...,19.0,Saison_2021_2022,SG,0.148148,0.142857,0.452449,1.000000,1.0,0.375000,0.511667
42292,108956,ROSTOCK SEAWOLVES,3.0,Jose Gabriel de Oliveira Neto,665,0,2,0.00,0,1,...,-1.0,Saison_2021_2022,C,0.000000,0.500000,0.000000,0.750000,0.0,0.142857,0.277083
42293,108956,ROSTOCK SEAWOLVES,4.0,Svante Schmundt,0,0,0,0.00,0,0,...,0.0,Saison_2021_2022,PG,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
42294,108956,ROSTOCK SEAWOLVES,5.0,Christopher John Carter,1342,2,5,0.40,1,4,...,8.0,Saison_2021_2022,PG,0.076923,0.400000,0.257900,0.714286,0.0,0.375000,0.559167
42295,108956,ROSTOCK SEAWOLVES,14.0,Jordan Jamal Roland,1172,2,3,0.67,1,3,...,4.0,Saison_2021_2022,PG,0.076923,0.000000,0.464039,0.857143,0.0,0.125000,0.488333
42296,108956,ROSTOCK SEAWOLVES,18.0,Till Gloger,1735,9,10,0.90,0,0,...,25.0,Saison_2021_2022,C,0.391304,1.000000,0.597135,0.750000,0.0,0.357143,0.722917
42297,108956,ROSTOCK SEAWOLVES,19.0,Sid-Marlon Theis,1782,1,2,0.50,0,2,...,9.0,Saison_2021_2022,PF,0.040000,0.500000,0.116445,0.750000,0.5,0.727273,0.742500
42298,108956,ROSTOCK SEAWOLVES,21.0,Michael Jost,618,0,0,0.00,0,1,...,0.0,Saison_2021_2022,PF,0.000000,0.000000,0.000000,0.750000,0.0,0.181818,0.257500
42299,108956,ROSTOCK SEAWOLVES,22.0,Nijal Eman Pearson,2119,5,9,0.56,0,2,...,13.0,Saison_2021_2022,SF,0.208333,0.750000,0.304957,0.750000,1.0,0.125000,0.882917
42300,108956,ROSTOCK SEAWOLVES,35.0,Bradley Alexander Loesing,1058,0,3,0.00,0,0,...,5.0,Saison_2021_2022,PG,0.000000,0.400000,0.066390,1.000000,0.0,0.250000,0.440833
42301,108956,ROSTOCK SEAWOLVES,999.0,Team,0,0,0,0.00,0,0,...,5.0,Saison_2021_2022,999,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

function after testrun

In [42]:
def df_score_v1(df : pd.DataFrame):
    #Whiskers
    #points, assists, efg, turnover, steals & blocks, rebounds
    pg_uw = [26,10,1.1,7,2,8,1]
    pg_lw = [0,0,0.136,0,0,0,0]
    sg_uw = [27,7,1.115,4,2,8,1]
    sg_lw = [0,0,0.136,0,0,0,0]
    sf_uw = [24,4,1.111,4,2,8,1]
    sf_lw = [0,0,0.136,0,0,0,0]
    pf_uw = [25,4,1.115,4,2,11,1]
    pf_lw = [0,0,0.136,0,0,0,0]
    c_uw = [23,2,1.2,4,4,14,1]
    c_lw = [0,0,0.083,0,0,0,0]

    points = []
    assists = []
    efg = []
    to = []
    stbl = []
    reb = []
    min = []

    score_list = [points,assists,efg,to,stbl,reb,min]


    for index,row in df.iterrows():
        if row['name'] == 'Team' or row['sec'] == 0:
            zero_fill(score_list)
        else:
            if row['position'] == 'PG':
                df_scores_calc(row, score_list, pg_uw, pg_lw)
            elif row['position'] == 'SG':
                df_scores_calc(row, score_list, sg_uw, sg_lw)
            elif row['position'] == 'SF':
                df_scores_calc(row, score_list, sf_uw, sf_lw)
            elif row['position'] == 'PF':
                df_scores_calc(row, score_list, pf_uw, pf_lw)
            elif row['position'] == 'C':
                df_scores_calc(row, score_list, c_uw, c_lw)
            else:
                print('An error occured : NULL-Position at :')
                display(row)
                break

    print('Everything went well')

    df['Points_score'] = score_list[0]
    df['Assist_score'] = score_list[1]
    df['EFG_score'] = score_list[2]
    df['TO_score'] = score_list[3]
    df['STBL_score'] = score_list[4]
    df['Reb_score'] = score_list[5]
    df['time_score'] = score_list[6]

    return df

In [43]:
score_v2 = boxscore.copy()
score_v2 = df_score_v1(score_v2)
score_v2.shape

Everything went well

(48617, 34)

In [44]:
score_v2.columns

Index(['matchId', 'team', 'number', 'name', 'sec', '2P_P', '2P_A', '2P_R',
       '3P_P', '3P_A', '3P_R', 'FG_P', 'FG_A', 'FG_R', 'FT_P', 'FT_A', 'FT_R',
       'Ps', 'As', 'Rs', 'Fs', 'BLs', 'STs', 'TOs', 'EFs', 'season',
       'position', 'Points_score', 'Assist_score', 'EFG_score', 'TO_score',
       'STBL_score', 'Reb_score', 'time_score'],
      dtype='object')

In [45]:
box_columns_to_drop = ['number','2P_P','2P_A','2P_R','3P_P','3P_A','3P_R','FG_P','FG_A','FG_R','FT_P','FT_A','FT_R','As','Rs','Fs','BLs','STs','TOs','EFs']

score_v2.drop(columns=box_columns_to_drop,inplace=True)

score_v2.head()

,matchId,team,name,sec,Ps,season,position,Points_score,Assist_score,EFG_score,TO_score,STBL_score,Reb_score,time_score
0,101059,Science City Jena,Kendall Chones,944,4.0,Saison_2014_2015,C,0.086957,0.0,0.373321,0.750000,0.5,0.214286,0.393333
1,101059,Science City Jena,Ermen Reyes-Napoles,1486,9.0,Saison_2014_2015,PG,0.076923,0.1,0.525785,0.857143,1.0,0.500000,0.619167
2,101059,Science City Jena,Lukas Wank,0,0.0,Saison_2014_2015,PG,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
3,101059,Science City Jena,Lars Wendt,1491,4.0,Saison_2014_2015,PG,0.076923,0.1,0.377593,0.428571,0.0,0.125000,0.621250
4,101059,Science City Jena,Sascha Leutloff,665,4.0,Saison_2014_2015,SF,0.041667,0.0,0.270769,0.500000,0.5,0.375000,0.277083

In [46]:
#create a Backup (needed for Score V3)
score_v2_backup = score_v2.copy()

In [47]:
#TODO continue with score v2

## Score 3

category * time_score

In [48]:
p_min = []
as_min = []
efg_min = []
to_min = []
stbl_min = []
reb_min = []

for index,row in score_v2_backup.iterrows():
    p_min.append(row['Points_score']*row['time_score'])
    as_min.append(row['Assist_score']*row['time_score'])
    efg_min.append(row['EFG_score']*row['time_score'])
    to_min.append(row['TO_score']*row['time_score'])
    stbl_min.append(row['STBL_score']*row['time_score'])
    reb_min.append(row['Reb_score']*row['time_score'])

score_v3 = score_v2_backup.drop(columns=['Points_score','Assist_score','EFG_score','TO_score','STBL_score','Reb_score','time_score'])

score_v3['P_min'] = p_min
score_v3['As_min'] = as_min
score_v3['EFG_min'] = efg_min
score_v3['TO_min'] = to_min
score_v3['STBL_min'] = stbl_min
score_v3['Reb_min'] = reb_min

score_v3.head()

,matchId,team,name,sec,Ps,season,position,P_min,As_min,EFG_min,TO_min,STBL_min,Reb_min
0,101059,Science City Jena,Kendall Chones,944,4.0,Saison_2014_2015,C,0.034203,0.000000,0.146840,0.295000,0.196667,0.084286
1,101059,Science City Jena,Ermen Reyes-Napoles,1486,9.0,Saison_2014_2015,PG,0.047628,0.061917,0.325549,0.530714,0.619167,0.309583
2,101059,Science City Jena,Lukas Wank,0,0.0,Saison_2014_2015,PG,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,101059,Science City Jena,Lars Wendt,1491,4.0,Saison_2014_2015,PG,0.047788,0.062125,0.234580,0.266250,0.000000,0.077656
4,101059,Science City Jena,Sascha Leutloff,665,4.0,Saison_2014_2015,SF,0.011545,0.000000,0.075026,0.138542,0.138542,0.103906

In [49]:
score_v3_sum_bymatch = score_v3.drop(columns=['name','season','position']).groupby(["matchId", "team"]).sum().reset_index()

score_v3_sum_bymatch.head(6)

,matchId,team,sec,Ps,P_min,As_min,EFG_min,TO_min,STBL_min,Reb_min
0,100002,TEAM EHINGEN URSPRING,11357,63.0,0.431685,1.711815,1.267550,2.773988,2.365000,1.567743
1,100002,undefined,0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,100003,ETB Wohnbau Baskets Essen,12000,96.0,0.692123,1.329604,1.743348,3.808229,3.329687,2.247479
3,100003,NINERS CHEMNITZ,12000,82.0,0.697255,0.851384,1.267197,3.065372,2.256458,2.383603
4,100004,Bayer Giants Leverkusen,12000,63.0,0.491356,1.753899,1.280831,3.318199,2.667083,2.148841
5,100004,RASTA Vechta,12000,71.0,0.558013,1.681827,2.074218,2.980863,1.182708,2.577555

Filtering out games with overtime and games with documentation errors (total time less than 11800 seconds or more than 12200 seconds)

In [50]:
score_v3_sum_bymatch = score_v3_sum_bymatch[score_v3_sum_bymatch["sec"] >= 11800]
score_v3_sum_bymatch = score_v3_sum_bymatch[score_v3_sum_bymatch["sec"] <= 12200]

score_v3_sum_bymatch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3922 entries, 2 to 4145
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   matchId   3922 non-null   int64
 1   team      3922 non-null   object
 2   sec       3922 non-null   int64
 3   Ps        3922 non-null   float64
 4   P_min     3922 non-null   float64
 5   As_min    3922 non-null   float64
 6   EFG_min   3922 non-null   float64
 7   TO_min    3922 non-null   float64
 8   STBL_min  3922 non-null   float64
 9   Reb_min   3922 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 337.0+ KB

Adding point-Difference

In [51]:
diff = []
for index, row in score_v3_sum_bymatch.iterrows():
    diff.append(row['Ps'] - score_v3_sum_bymatch.loc[(score_v3_sum_bymatch['matchId'] == row['matchId']) & (score_v3_sum_bymatch['team'] != row['team']), 'Ps'].sum())

score_v3_sum_bymatch['P_diff'] = diff
score_v3_sum_bymatch.head(6)

,matchId,team,sec,Ps,P_min,As_min,EFG_min,TO_min,STBL_min,Reb_min,P_diff
2,100003,ETB Wohnbau Baskets Essen,12000,96.0,0.692123,1.329604,1.743348,3.808229,3.329687,2.247479,14.0
3,100003,NINERS CHEMNITZ,12000,82.0,0.697255,0.851384,1.267197,3.065372,2.256458,2.383603,-14.0
4,100004,Bayer Giants Leverkusen,12000,63.0,0.491356,1.753899,1.280831,3.318199,2.667083,2.148841,-8.0
5,100004,RASTA Vechta,12000,71.0,0.558013,1.681827,2.074218,2.980863,1.182708,2.577555,8.0
6,100005,OeTTINGER Rockets Gotha,12000,70.0,0.477482,1.200363,1.347120,3.417173,1.213437,1.779620,-2.0
7,100005,finke baskets,12000,72.0,0.578400,1.412830,1.543639,2.332024,1.911875,2.565170,2.0

In [52]:
v3_bymatch = score_v3_sum_bymatch

P_min_d = []
As_min_d = []
EFG_min_d = []
TO_min_d = []
STBL_min_d  = []
Reb_min_d = []

for index,row in v3_bymatch.iterrows():
    P_min_d.append(row['P_min'] - v3_bymatch.loc[(v3_bymatch['matchId'] == row['matchId']) &( v3_bymatch['team'] != row['team']), 'P_min' ].sum())
    As_min_d.append(row['As_min'] - v3_bymatch.loc[(v3_bymatch['matchId'] == row['matchId']) &( v3_bymatch['team'] != row['team']), 'As_min' ].sum())
    EFG_min_d.append(row['EFG_min'] - v3_bymatch.loc[(v3_bymatch['matchId'] == row['matchId']) &( v3_bymatch['team'] != row['team']), 'EFG_min' ].sum())
    TO_min_d.append(row['TO_min'] - v3_bymatch.loc[(v3_bymatch['matchId'] == row['matchId']) &( v3_bymatch['team'] != row['team']), 'TO_min' ].sum())
    STBL_min_d.append(row['STBL_min'] - v3_bymatch.loc[(v3_bymatch['matchId'] == row['matchId']) &( v3_bymatch['team'] != row['team']), 'STBL_min' ].sum())
    Reb_min_d.append(row['Reb_min'] - v3_bymatch.loc[(v3_bymatch['matchId'] == row['matchId']) &( v3_bymatch['team'] != row['team']), 'Reb_min' ].sum())

v3_bymatch['P_min_d'] = P_min_d
v3_bymatch['As_min_d'] = As_min_d
v3_bymatch['EFG_min_d'] = EFG_min_d
v3_bymatch['TO_min_d'] = TO_min_d
v3_bymatch['STBL_min_d'] = STBL_min_d
v3_bymatch['Reb_min_d'] = Reb_min_d 

v3_bymatch.drop(columns=['sec'], inplace=True)

v3_bymatch.head(6)

,matchId,team,Ps,P_min,As_min,EFG_min,TO_min,STBL_min,Reb_min,P_diff,P_min_d,As_min_d,EFG_min_d,TO_min_d,STBL_min_d,Reb_min_d
2,100003,ETB Wohnbau Baskets Essen,96.0,0.692123,1.329604,1.743348,3.808229,3.329687,2.247479,14.0,-0.005132,0.478220,0.476152,0.742857,1.073229,-0.136124
3,100003,NINERS CHEMNITZ,82.0,0.697255,0.851384,1.267197,3.065372,2.256458,2.383603,-14.0,0.005132,-0.478220,-0.476152,-0.742857,-1.073229,0.136124
4,100004,Bayer Giants Leverkusen,63.0,0.491356,1.753899,1.280831,3.318199,2.667083,2.148841,-8.0,-0.066657,0.072071,-0.793387,0.337336,1.484375,-0.428713
5,100004,RASTA Vechta,71.0,0.558013,1.681827,2.074218,2.980863,1.182708,2.577555,8.0,0.066657,-0.072071,0.793387,-0.337336,-1.484375,0.428713
6,100005,OeTTINGER Rockets Gotha,70.0,0.477482,1.200363,1.347120,3.417173,1.213437,1.779620,-2.0,-0.100918,-0.212467,-0.196519,1.085149,-0.698438,-0.785550
7,100005,finke baskets,72.0,0.578400,1.412830,1.543639,2.332024,1.911875,2.565170,2.0,0.100918,0.212467,0.196519,-1.085149,0.698438,0.785550

In [53]:
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf


X = v3_bymatch[['P_min','As_min', 'EFG_min','TO_min','STBL_min','Reb_min']]
X = sm.add_constant(X)
y = v3_bymatch['P_diff']

sm.OLS(y, X).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 P_diff   R-squared:                       0.475
Model:                            OLS   Adj. R-squared:                  0.475
Method:                 Least Squares   F-statistic:                     591.3
Date:                Sat, 16 Jul 2022   Prob (F-statistic):               0.00
Time:                        13:40:50   Log-Likelihood:                -15209.
No. Observations:                3922   AIC:                         3.043e+04
Df Residuals:                    3915   BIC:                         3.048e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -107.2957      1.973    -54.381      0.000    -111.164    -103.427
P_min         -7.8898      1.676     -4.707      0.000     -11.176      -4.603
As_min         2.3090      0.379      6.086      0.000       1.565       3.053
EFG_min       22.7663      0.611     37.239      0.000      21.568      23.965
TO_min         9.6269      0.362     26.565      0.000       8.916      10.337
STBL_min       4.1746      0.275     15.178      0.000       3.635       4.714
Reb_min       13.2946      0.489     27.212      0.000      12.337      14.252
==============================================================================
Omnibus:                      371.751   Durbin-Watson:                   2.280
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1283.545
Skew:                           0.452   Prob(JB):                    1.91e-279
Kurtosis:                       5.652   Cond. No.                         56.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [54]:
weights2 = sm.OLS(y, X).fit().params.to_list()
weights2

[-107.29566545598634,
 -7.889806399116977,
 2.309038829115288,
 22.76628305509006,
 9.626851197828131,
 4.174646743097468,
 13.294553302734553]

In [55]:

X2 = v3_bymatch[['P_min_d','As_min_d', 'EFG_min_d','TO_min_d','STBL_min_d','Reb_min_d']]
#X2 = sm.add_constant(X2)

y = v3_bymatch['P_diff']

sm.OLS(y, X2).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                 P_diff   R-squared (uncentered):                   0.801
Model:                            OLS   Adj. R-squared (uncentered):              0.801
Method:                 Least Squares   F-statistic:                              2630.
Date:                Sat, 16 Jul 2022   Prob (F-statistic):                        0.00
Time:                        13:40:50   Log-Likelihood:                         -13307.
No. Observations:                3922   AIC:                                  2.663e+04
Df Residuals:                    3916   BIC:                                  2.666e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
P_min_d        2.5535      0.792      3.225      0.001       1.001       4.106
As_min_d       2.7610      0.173     15.966      0.000       2.422       3.100
EFG_min_d     18.2409      0.268     68.172      0.000      17.716      18.766
TO_min_d       8.9071      0.179     49.681      0.000       8.556       9.259
STBL_min_d     0.3856      0.137      2.806      0.005       0.116       0.655
Reb_min_d      8.3253      0.240     34.661      0.000       7.854       8.796
==============================================================================
Omnibus:                        3.304   Durbin-Watson:                   3.004
Prob(Omnibus):                  0.192   Jarque-Bera (JB):                3.539
Skew:                           0.003   Prob(JB):                        0.170
Kurtosis:                       3.147   Cond. No.                         7.36
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [56]:
weights = sm.OLS(y, X2).fit().params.to_list()
weights

[2.553481138020245,
 2.761039332198105,
 18.240946894718423,
 8.907067731505206,
 0.385604501940116,
 8.325292364515123]

In [57]:
max_points = sum(weights)
max_points

41.17343196289722

# Formula for Score :

Score = (weight[0] x P_min + weight[1] x AS_min ... ) / max_points

* method to calculate score by player
* summarise by match 
* correlation analysis

In [58]:
boxscore_basic.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Ps,As,Rs,Fs,BLs,STs,TOs,EFs,season,position
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,4.0,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,9.0,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,4.0,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,4.0,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF

In [59]:
def Score_V3(df : pd.DataFrame, weights : list):
    
    #1. Create the normalised values for each category

    #Whiskers
    #points, assists, efg, turnover, steals & blocks, rebounds
    pg_uw = [26,10,1.1,7,2,8,1]
    pg_lw = [0,0,0.136,0,0,0,0]
    sg_uw = [27,7,1.115,4,2,8,1]
    sg_lw = [0,0,0.136,0,0,0,0]
    sf_uw = [24,4,1.111,4,2,8,1]
    sf_lw = [0,0,0.136,0,0,0,0]
    pf_uw = [25,4,1.115,4,2,11,1]
    pf_lw = [0,0,0.136,0,0,0,0]
    c_uw = [23,2,1.2,4,4,14,1]
    c_lw = [0,0,0.083,0,0,0,0]

    points = []
    assists = []
    efg = []
    to = []
    stbl = []
    reb = []
    min = []

    score_list = [points,assists,efg,to,stbl,reb,min]


    for index,row in df.iterrows():
        if row['name'] == 'Team' or row['sec'] == 0:
            zero_fill(score_list)
        else:
            if row['position'] == 'PG':
                df_scores_calc(row, score_list, pg_uw, pg_lw)
            elif row['position'] == 'SG':
                df_scores_calc(row, score_list, sg_uw, sg_lw)
            elif row['position'] == 'SF':
                df_scores_calc(row, score_list, sf_uw, sf_lw)
            elif row['position'] == 'PF':
                df_scores_calc(row, score_list, pf_uw, pf_lw)
            elif row['position'] == 'C':
                df_scores_calc(row, score_list, c_uw, c_lw)
            else:
                print('An error occured : NULL-Position at :')
                display(row)
                break

    print('Time independent scores were created')

    scores = []

    for x in range(len(score_list[0])):
        temp = 0
        for y in range(len(score_list)-1):
            temp = temp + (weights[y] * score_list[y][x] * score_list[5][x]) 

        scores.append(temp)

    print("weighted and time dependent scores were created")

    return scores

In [60]:
boxscore_basic["NP_Score"] = Score_V3(boxscore_basic,weights)

boxscore_basic.head()

Time independent scores were created
weighted and time dependent scores were created

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,As,Rs,Fs,BLs,STs,TOs,EFs,season,position,NP_Score
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,0.0,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C,3.361901
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,1.0,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG,11.123115
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0.0,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG,0.000000
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,1.0,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG,1.527270
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,0.0,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF,4.805176

In [61]:
boxscore_basic['NP_%'] = boxscore_basic['NP_Score'].apply(lambda x : (x/max_points) * 100)

boxscore_basic.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Rs,Fs,BLs,STs,TOs,EFs,season,position,NP_Score,NP_%
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C,3.361901,8.165220
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG,11.123115,27.015272
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG,0.000000,0.000000
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG,1.527270,3.709359
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF,4.805176,11.670575

In [77]:
boxscore_basic['NP_Score'].max()

35.91571415378616

## Preparing the correlation test

* drop unnecessary columns  
* Group by matchId and team 
* Get difference to Enemy points (EF_diff, NP_diffs, Points_diff)

In [62]:
corr_test_df = boxscore_basic.copy()

In [63]:
corr_test_df.columns

Index(['matchId', 'team', 'number', 'name', 'sec', '2P_P', '2P_A', '2P_R',
       '3P_P', '3P_A', '3P_R', 'FG_P', 'FG_A', 'FG_R', 'FT_P', 'FT_A', 'FT_R',
       'Ps', 'As', 'Rs', 'Fs', 'BLs', 'STs', 'TOs', 'EFs', 'season',
       'position', 'NP_Score', 'NP_%'],
      dtype='object')

In [64]:
corr_test_df.drop(columns=['number','name','2P_P', '2P_A', '2P_R',
       '3P_P', '3P_A', '3P_R', 'FG_P', 'FG_A', 'FG_R', 'FT_P', 'FT_A', 'FT_R',
        'As', 'Rs', 'Fs', 'BLs', 'STs', 'TOs', 'season', 'position'], inplace=True)

corr_test_df.head()

   matchId               team   sec   Ps   EFs   NP_Score       NP_%
0   101059  Science City Jena   944  4.0   6.0   3.361901   8.165220
1   101059  Science City Jena  1486  9.0  15.0  11.123115  27.015272
2   101059  Science City Jena     0  0.0   0.0   0.000000   0.000000
3   101059  Science City Jena  1491  4.0   0.0   1.527270   3.709359
4   101059  Science City Jena   665  4.0   4.0   4.805176  11.670575

In [65]:
# group by matchId and team
corr_test_df = corr_test_df.groupby(["matchId", "team"]).sum().reset_index()

#drop OT games and games with faulty data
corr_test_df = corr_test_df[corr_test_df["sec"] >= 11800]
corr_test_df = corr_test_df[corr_test_df["sec"] <= 12200]


corr_test_df.head()

,matchId,team,sec,Ps,EFs,NP_Score,NP_%
2,100003,ETB Wohnbau Baskets Essen,12000,96.0,111.0,68.014449,165.190138
3,100003,NINERS CHEMNITZ,12000,82.0,77.0,55.960991,135.915293
4,100004,Bayer Giants Leverkusen,12000,63.0,62.0,44.827696,108.875295
5,100004,RASTA Vechta,12000,71.0,107.0,79.842516,193.917564
6,100005,OeTTINGER Rockets Gotha,12000,70.0,71.0,49.089545,119.226265

In [66]:
def diff_calculator(df : pd.DataFrame):
    EF_diff = []
    NP_Score_diff = []
    NP_Per_diff = []
    P_diff = []
    for index, row in df.iterrows():
        EF_diff.append(row['EFs'] - df.loc[(df['matchId'] == row['matchId']) & (df['team'] != row['team']), 'EFs'].sum())
        NP_Score_diff.append(row['NP_Score'] - df.loc[(df['matchId'] == row['matchId']) & (df['team'] != row['team']), 'NP_Score'].sum())
        NP_Per_diff.append(row['NP_%'] - df.loc[(df['matchId'] == row['matchId']) & (df['team'] != row['team']), 'NP_%'].sum())
        P_diff.append(row['Ps'] - df.loc[(df['matchId'] == row['matchId']) & (df['team'] != row['team']), 'Ps'].sum())

    df['EF_diff'] = EF_diff
    df['NP_Score_diff'] = NP_Score_diff
    df['NP_%_diff'] = NP_Per_diff
    df['P_diff'] = P_diff

    return df

In [67]:
corr_test_df = diff_calculator(corr_test_df)
corr_test_df.head()

,matchId,team,sec,Ps,EFs,NP_Score,NP_%,EF_diff,NP_Score_diff,NP_%_diff,P_diff
2,100003,ETB Wohnbau Baskets Essen,12000,96.0,111.0,68.014449,165.190138,34.0,12.053458,29.274844,14.0
3,100003,NINERS CHEMNITZ,12000,82.0,77.0,55.960991,135.915293,-34.0,-12.053458,-29.274844,-14.0
4,100004,Bayer Giants Leverkusen,12000,63.0,62.0,44.827696,108.875295,-45.0,-35.014821,-85.042269,-8.0
5,100004,RASTA Vechta,12000,71.0,107.0,79.842516,193.917564,45.0,35.014821,85.042269,8.0
6,100005,OeTTINGER Rockets Gotha,12000,70.0,71.0,49.089545,119.226265,0.0,-19.943196,-48.437049,-2.0

In [68]:
core_test_demo_2021 = corr_test_df[corr_test_df['matchId'].between(108000,108999)]
corr_test_df.drop(columns=['matchId', 'sec'], inplace=True)

In [69]:
corr_test_df.head()

,team,Ps,EFs,NP_Score,NP_%,EF_diff,NP_Score_diff,NP_%_diff,P_diff
2,ETB Wohnbau Baskets Essen,96.0,111.0,68.014449,165.190138,34.0,12.053458,29.274844,14.0
3,NINERS CHEMNITZ,82.0,77.0,55.960991,135.915293,-34.0,-12.053458,-29.274844,-14.0
4,Bayer Giants Leverkusen,63.0,62.0,44.827696,108.875295,-45.0,-35.014821,-85.042269,-8.0
5,RASTA Vechta,71.0,107.0,79.842516,193.917564,45.0,35.014821,85.042269,8.0
6,OeTTINGER Rockets Gotha,70.0,71.0,49.089545,119.226265,0.0,-19.943196,-48.437049,-2.0

In [70]:
corr_test_df.columns

Index(['team', 'Ps', 'EFs', 'NP_Score', 'NP_%', 'EF_diff', 'NP_Score_diff',
       'NP_%_diff', 'P_diff'],
      dtype='object')

In [71]:
corr_test_df_abs = corr_test_df.drop(columns=['Ps', 'EF_diff', 'NP_Score_diff',
       'NP_%_diff'])

corr_test_df_rel = corr_test_df.drop(columns=['Ps', 'EFs', 'NP_Score', 'NP_%'])

In [72]:
corr_test_df_abs.corr()

               EFs  NP_Score      NP_%    P_diff
EFs       1.000000  0.571570  0.571570  0.744054
NP_Score  0.571570  1.000000  1.000000  0.581342
NP_%      0.571570  1.000000  1.000000  0.581342
P_diff    0.744054  0.581342  0.581342  1.000000

In [73]:
corr_test_df_rel.corr()

                EF_diff  NP_Score_diff  NP_%_diff    P_diff
EF_diff        1.000000       0.779197   0.779197  0.940832
NP_Score_diff  0.779197       1.000000   1.000000  0.741525
NP_%_diff      0.779197       1.000000   1.000000  0.741525
P_diff         0.940832       0.741525   0.741525  1.000000

In [74]:
corr_test_df.query("NP_Score_diff > 0 and P_diff < 0")

,team,Ps,EFs,NP_Score,NP_%,EF_diff,NP_Score_diff,NP_%_diff,P_diff
23,RASTA Vechta,56.0,49.0,62.923160,152.824667,-42.0,10.510228,25.526723,-18.0
43,VfL Kirchheim Knights,87.0,94.0,76.709428,186.308073,4.0,10.016322,24.327149,-1.0
51,TEAM EHINGEN URSPRING,59.0,68.0,65.655029,159.459694,-12.0,6.499756,15.786287,-10.0
52,RASTA Vechta,63.0,63.0,73.587258,178.725100,-8.0,16.241648,39.446912,-1.0
79,TEAM EHINGEN URSPRING,59.0,48.0,51.901988,126.056987,-41.0,0.930298,2.259463,-17.0
...,...,...,...,...,...,...,...,...,...
4115,RÖMERSTROM Gladiators Trier,75.0,77.0,62.901138,152.771181,-7.0,15.879589,38.567562,-6.0
4119,Tigers Tübingen,89.0,100.0,79.919084,194.103527,6.0,27.578760,66.981931,-6.0
4123,RÖMERSTROM Gladiators Trier,75.0,78.0,71.313517,173.202753,-4.0,13.695610,33.263221,-5.0
4140,Medipolis SC Jena,76.0,93.0,53.072738,128.900447,5.0,7.301332,17.733115,-1.0
4145,Tigers Tübingen,77.0,100.0,62.514693,151.832601,25.0,15.198984,36.914543,-1.0

In [75]:
corr_test_demo = corr_test_df.drop(columns=['Ps', 'EF_diff', 'NP_Score', 'NP_%','NP_%_diff'])
corr_test_demo.corr()

                    EFs  NP_Score_diff    P_diff
EFs            1.000000       0.620221  0.744054
NP_Score_diff  0.620221       1.000000  0.741525
P_diff         0.744054       0.741525  1.000000

In [76]:
#only check latest season

core_test_demo_2021.drop(columns=['matchId', 'sec', 'Ps', 'NP_%','NP_%_diff'],inplace=True)
core_test_demo_2021.corr()

                    EFs  NP_Score   EF_diff  NP_Score_diff    P_diff
EFs            1.000000  0.583054  0.844683       0.640692  0.797471
NP_Score       0.583054  1.000000  0.599549       0.790441  0.577576
EF_diff        0.844683  0.599549  1.000000       0.758500  0.944107
NP_Score_diff  0.640692  0.790441  0.758500       1.000000  0.730701
P_diff         0.797471  0.577576  0.944107       0.730701  1.000000