This notebook covers the cleaning, formatting and upload of the scraped informations

In [1]:
#importing necessary packages
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Boxscores

In [2]:
# loading the csv file to a dataframe
boxscores = pd.read_csv("../data/boxscore_full_notformatted.csv", sep=";")
boxscores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48617 entries, 0 to 48616
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  48617 non-null  int64
 1   team     48603 non-null  object
 2   name     48617 non-null  object
 3   min      44465 non-null  object
 4   2Ps      44465 non-null  object
 5   3Ps      44465 non-null  object
 6   FGs      44465 non-null  object
 7   FTs      44465 non-null  object
 8   Ps       44465 non-null  float64
 9   As       44465 non-null  float64
 10  Rs       48617 non-null  object
 11  Fs       48617 non-null  int64
 12  BLs      44466 non-null  float64
 13  STs      44466 non-null  float64
 14  TOs      48617 non-null  int64
 15  EFs      48605 non-null  float64
dtypes: float64(5), int64(3), object(8)
memory usage: 5.9+ MB

In [3]:
#Creating a smaller testframe 
testbox = boxscores.head(20)
testbox

,matchId,team,name,min,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,#5 Kendall Chones,15:44,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,#7 Ermen Reyes-Napoles,24:46,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,#8 Lukas Wank,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,#9 Lars Wendt,24:51,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,#10 Sascha Leutloff,11:05,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,#13 Georg Wilhelm Voigtmann,11:34,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,#17 David Edward Hicks III,23:15,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,#20 Jan Heber,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,#30 Brady Craig Morningstar,20:03,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,#33 Julius Wolf,19:48,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,#34 Wayne Bernard,31:13,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,#41 Mantas Virbalas,17:41,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,NaN,1,1.0
13,101059,OeTTINGER Rockets Gotha,#1 Carlton Guyton,31:30,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,#6 Christopher Razis,21:25,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,#10 Sebastian F端lle,09:36,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,#11 Felix Hoffmann,05:07,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,#13 Dmitrij Kreis,03:40,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,#15 Evan Harris,09:41,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,#24 Matt Vest,28:51,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0


## Filling null values
The data has null values in the following columns:  
* team
* min
* 2Ps
* 3Ps
* FGs
* FTs
* Ps
* As
* BLs
* STs
* TOs
* EFs

In [4]:
#defining default values
na_team = "undefined"
na_min = "00:00"
na_quota = "0 - 0 - 0%"
na_float = 0.0

#filling null values
testbox['team'] = testbox['team'].fillna(na_team)
testbox['min'] = testbox['min'].fillna(na_min)
testbox['2Ps'] = testbox['2Ps'].fillna(na_quota)
testbox['3Ps'] = testbox['3Ps'].fillna(na_quota)
testbox['FGs'] = testbox['FGs'].fillna(na_quota)
testbox['FTs'] = testbox['FTs'].fillna(na_quota)
testbox['Ps'] = testbox['Ps'].fillna(na_float)
testbox['As'] = testbox['As'].fillna(na_float)
testbox['STs'] = testbox['STs'].fillna(na_float)
testbox['BLs'] = testbox['BLs'].fillna(na_float)
testbox['TOs'] = testbox['TOs'].fillna(na_float)
testbox['EFs'] = testbox['EFs'].fillna(na_float)

testbox

,matchId,team,name,min,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,#5 Kendall Chones,15:44,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,#7 Ermen Reyes-Napoles,24:46,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,#8 Lukas Wank,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,#9 Lars Wendt,24:51,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,#10 Sascha Leutloff,11:05,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,#13 Georg Wilhelm Voigtmann,11:34,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,#17 David Edward Hicks III,23:15,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,#20 Jan Heber,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,#30 Brady Craig Morningstar,20:03,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,#33 Julius Wolf,19:48,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,#34 Wayne Bernard,31:13,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,#41 Mantas Virbalas,17:41,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,Team,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,#1 Carlton Guyton,31:30,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,#6 Christopher Razis,21:25,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,#10 Sebastian F端lle,09:36,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,#11 Felix Hoffmann,05:07,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,#13 Dmitrij Kreis,03:40,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,#15 Evan Harris,09:41,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,#24 Matt Vest,28:51,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

Based on this testcase we developed a function "fill_box_na" which can be applied to the dataframe of a boxscore:

In [5]:
from formatfunctions import fill_box_na
fill_box_na(boxscores)
boxscores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48617 entries, 0 to 48616
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  48617 non-null  int64
 1   team     48617 non-null  object
 2   name     48617 non-null  object
 3   min      48617 non-null  object
 4   2Ps      48617 non-null  object
 5   3Ps      48617 non-null  object
 6   FGs      48617 non-null  object
 7   FTs      48617 non-null  object
 8   Ps       48617 non-null  float64
 9   As       48617 non-null  float64
 10  Rs       48617 non-null  object
 11  Fs       48617 non-null  int64
 12  BLs      48617 non-null  float64
 13  STs      48617 non-null  float64
 14  TOs      48617 non-null  int64
 15  EFs      48617 non-null  float64
dtypes: float64(5), int64(3), object(8)
memory usage: 5.9+ MB

## Formatting
The following columns have to be adjusted
- [x] Names -> number + name in seperate columns
- [x] Teamactions -> number = 999
- [ ] min as time ?
- [x] 2P, 3P, FG , FT -> 1 column into 3 columns 
- [x] %-values to decimals
- [ ] Rebounds (Rs) Problem
- [ ] all other values as integers

### Names and Teamactions formatting

In [6]:
#Building number column
numbers = testbox['name'].apply(lambda x: 999 if x=="Team" else x[1:(x.find(" "))])
testbox.insert(loc=2, column="number",  value=numbers)

#name column
testbox['name'] = testbox['name'].apply(lambda x: "Team" if x=="Team" else x[(x.find(" ")):]) 

testbox.head(20)

,matchId,team,number,name,min,2Ps,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,15:44,2 - 3 - 67%,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,24:46,2 - 4 - 50%,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,24:51,2 - 2 - 100%,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,11:05,1 - 3 - 33%,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,11:34,2 - 2 - 100%,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,23:15,4 - 10 - 40%,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,20:03,3 - 5 - 60%,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,19:48,2 - 3 - 67%,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,31:13,0 - 1 - 0%,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,17:41,3 - 9 - 33%,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,00:00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,31:30,2 - 4 - 50%,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,21:25,1 - 3 - 33%,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian F端lle,09:36,0 - 1 - 0%,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,05:07,1 - 1 - 100%,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,03:40,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,09:41,0 - 2 - 0%,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,28:51,5 - 6 - 83%,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

### Quotas

The columns 2Ps, 3Ps, FGs and FTs currently have data in the following format: "X - Y - Z%"
Instead we want to divide each column in 3 seperate colums like 2P_P, 2P_A, 2P_R containing numerical values. 

"X - Y - Z%"  -> X   Y   0,Z

In [7]:
# getting the values in the intended datatype
points = testbox['2Ps'].apply(lambda x : int(x.split(" - ")[0]))
attempts = testbox['2Ps'].apply(lambda x : int(x.split(" - ")[1]))
relative = testbox['2Ps'].apply(lambda x : float(x.split(" - ")[2][:-1])/100)

In [8]:
# extracting position of the column to be seperated
loc = testbox.columns.get_loc('2Ps')
loc

5

In [9]:
# setting up new colum names
c_name = '2Ps'
new_names = [c_name[:-1]+"_P",c_name[:-1]+"_A", c_name[:-1]+"_R"]
new_names

['2P_P', '2P_A', '2P_R']

In [10]:
# adding new data and dropping old column
testbox.insert(loc=loc, column=new_names[2],  value=relative)
testbox.insert(loc=loc, column=new_names[1],  value=attempts)
testbox.insert(loc=loc, column=new_names[0],  value=points)
testbox.drop(columns=[c_name], inplace=True)
testbox

,matchId,team,number,name,min,2P_P,2P_A,2P_R,3Ps,FGs,FTs,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,15:44,2,3,0.67,0 - 0 - 0%,2 - 3 - 67%,0 - 1 - 0%,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,24:46,2,4,0.50,1 - 1 - 100%,3 - 5 - 60%,2 - 2 - 100%,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,00:00,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,24:51,2,2,1.00,0 - 2 - 0%,2 - 4 - 50%,0 - 0 - 0%,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,11:05,1,3,0.33,0 - 0 - 0%,1 - 3 - 33%,2 - 2 - 100%,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,11:34,2,2,1.00,0 - 0 - 0%,2 - 2 - 100%,1 - 1 - 100%,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,23:15,4,10,0.40,0 - 2 - 0%,4 - 12 - 33%,2 - 2 - 100%,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,00:00,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,20:03,3,5,0.60,1 - 5 - 20%,4 - 10 - 40%,2 - 2 - 100%,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,19:48,2,3,0.67,0 - 3 - 0%,2 - 6 - 33%,0 - 0 - 0%,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,31:13,0,1,0.00,2 - 4 - 50%,2 - 5 - 40%,2 - 2 - 100%,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,17:41,3,9,0.33,0 - 0 - 0%,3 - 9 - 33%,0 - 0 - 0%,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,00:00,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,31:30,2,4,0.50,0 - 4 - 0%,2 - 8 - 25%,5 - 7 - 71%,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,21:25,1,3,0.33,0 - 2 - 0%,1 - 5 - 20%,0 - 0 - 0%,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian F端lle,09:36,0,1,0.00,0 - 0 - 0%,0 - 1 - 0%,0 - 0 - 0%,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,05:07,1,1,1.00,0 - 0 - 0%,1 - 1 - 100%,0 - 1 - 0%,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,03:40,0,0,0.00,0 - 0 - 0%,0 - 0 - 0%,0 - 0 - 0%,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,09:41,0,2,0.00,0 - 0 - 0%,0 - 2 - 0%,1 - 2 - 50%,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,28:51,5,6,0.83,0 - 0 - 0%,5 - 6 - 83%,1 - 2 - 50%,11.0,0.0,8,3,0.0,2.0,0,19.0

In [11]:
from formatfunctions import quota_formatter

quota_columns = ['3Ps', 'FGs', 'FTs']

for c in quota_columns:
    quota_formatter(testbox, c)

testbox

,matchId,team,number,name,min,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
0,101059,Science City Jena,5,Kendall Chones,15:44,2,3,0.67,0,0,...,1,0.00,4.0,0.0,3,4,1.0,1.0,1,6.0
1,101059,Science City Jena,7,Ermen Reyes-Napoles,24:46,2,4,0.50,1,1,...,2,1.00,9.0,1.0,4,4,0.0,4.0,1,15.0
2,101059,Science City Jena,8,Lukas Wank,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,0,0.0,0.0,0,0.0
3,101059,Science City Jena,9,Lars Wendt,24:51,2,2,1.00,0,2,...,0,0.00,4.0,1.0,1,1,0.0,0.0,4,0.0
4,101059,Science City Jena,10,Sascha Leutloff,11:05,1,3,0.33,0,0,...,2,1.00,4.0,0.0,3,1,1.0,0.0,2,4.0
5,101059,Science City Jena,13,Georg Wilhelm Voigtmann,11:34,2,2,1.00,0,0,...,1,1.00,5.0,0.0,0,2,1.0,0.0,0,6.0
6,101059,Science City Jena,17,David Edward Hicks III,23:15,4,10,0.40,0,2,...,2,1.00,10.0,0.0,1,3,1.0,0.0,3,1.0
7,101059,Science City Jena,20,Jan Heber,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,0,0.0,0.0,0,0.0
8,101059,Science City Jena,30,Brady Craig Morningstar,20:03,3,5,0.60,1,5,...,2,1.00,11.0,4.0,1,1,0.0,1.0,0,11.0
9,101059,Science City Jena,33,Julius Wolf,19:48,2,3,0.67,0,3,...,0,0.00,4.0,1.0,4,3,1.0,0.0,3,3.0
10,101059,Science City Jena,34,Wayne Bernard,31:13,0,1,0.00,2,4,...,2,1.00,8.0,2.0,1,1,0.0,3.0,0,11.0
11,101059,Science City Jena,41,Mantas Virbalas,17:41,3,9,0.33,0,0,...,0,0.00,6.0,1.0,7,4,0.0,0.0,1,7.0
12,101059,Science City Jena,999,Team,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,2,2,0.0,0.0,1,1.0
13,101059,OeTTINGER Rockets Gotha,1,Carlton Guyton,31:30,2,4,0.50,0,4,...,7,0.71,9.0,7.0,3,3,0.0,1.0,4,8.0
14,101059,OeTTINGER Rockets Gotha,6,Christopher Razis,21:25,1,3,0.33,0,2,...,0,0.00,2.0,3.0,2,3,0.0,0.0,2,1.0
15,101059,OeTTINGER Rockets Gotha,10,Sebastian F端lle,09:36,0,1,0.00,0,0,...,0,0.00,0.0,0.0,1,2,0.0,0.0,1,-1.0
16,101059,OeTTINGER Rockets Gotha,11,Felix Hoffmann,05:07,1,1,1.00,0,0,...,1,0.00,2.0,0.0,3,0,0.0,0.0,0,4.0
17,101059,OeTTINGER Rockets Gotha,13,Dmitrij Kreis,03:40,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0,1,0.0,0.0,2,-2.0
18,101059,OeTTINGER Rockets Gotha,15,Evan Harris,09:41,0,2,0.00,0,0,...,2,0.50,1.0,0.0,1,1,0.0,0.0,0,-1.0
19,101059,OeTTINGER Rockets Gotha,24,Matt Vest,28:51,5,6,0.83,0,0,...,2,0.50,11.0,0.0,8,3,0.0,2.0,0,19.0

### Type Conversion float -> int

The columns
* Ps
* As
* Fs
* BLs
* STs
* and EFs

contain float values which should be integers instead.

In [12]:
testbox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  20 non-null     int64
 1   team     20 non-null     object
 2   number   20 non-null     object
 3   name     20 non-null     object
 4   min      20 non-null     object
 5   2P_P     20 non-null     int64
 6   2P_A     20 non-null     int64
 7   2P_R     20 non-null     float64
 8   3P_P     20 non-null     int64
 9   3P_A     20 non-null     int64
 10  3P_R     20 non-null     float64
 11  FG_P     20 non-null     int64
 12  FG_A     20 non-null     int64
 13  FG_R     20 non-null     float64
 14  FT_P     20 non-null     int64
 15  FT_A     20 non-null     int64
 16  FT_R     20 non-null     float64
 17  Ps       20 non-null     float64
 18  As       20 non-null     float64
 19  Rs       20 non-null     object
 20  Fs       20 non-null     int64
 21  BLs      20 non-null     float64
 22  STs      20 non-null     float64
 23  TOs      20 non-null     int64
 24  EFs      20 non-null     float64
dtypes: float64(9), int64(11), object(5)
memory usage: 4.0+ KB

In [13]:
f_columns = ['Ps','As','Fs','BLs','STs','EFs']
for c in f_columns:
    testbox[c].astype(int)

testbox.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchId  20 non-null     int64
 1   team     20 non-null     object
 2   number   20 non-null     object
 3   name     20 non-null     object
 4   min      20 non-null     object
 5   2P_P     20 non-null     int64
 6   2P_A     20 non-null     int64
 7   2P_R     20 non-null     float64
 8   3P_P     20 non-null     int64
 9   3P_A     20 non-null     int64
 10  3P_R     20 non-null     float64
 11  FG_P     20 non-null     int64
 12  FG_A     20 non-null     int64
 13  FG_R     20 non-null     float64
 14  FT_P     20 non-null     int64
 15  FT_A     20 non-null     int64
 16  FT_R     20 non-null     float64
 17  Ps       20 non-null     float64
 18  As       20 non-null     float64
 19  Rs       20 non-null     object
 20  Fs       20 non-null     int64
 21  BLs      20 non-null     float64
 22  STs      20 non-null     float64
 23  TOs      20 non-null     int64
 24  EFs      20 non-null     float64
dtypes: float64(9), int64(11), object(5)
memory usage: 4.0+ KB

## Boxscores: Putting everything together

In this part we format the boxscore-table, create a csv backup and prepare the dataframe for the upload to our database

In [14]:
from formatfunctions import name_formatter

fill_box_na(boxscores)

name_formatter(boxscores)

quota_columns = ['2Ps','3Ps', 'FGs', 'FTs']
for c in quota_columns:
    quota_formatter(boxscores,c)

boxscores.tail(25)

,matchId,team,number,name,min,2P_P,2P_A,2P_R,3P_P,3P_A,...,FT_A,FT_R,Ps,As,Rs,Fs,BLs,STs,TOs,EFs
48592,108857,RASTA Vechta,21,21,30:11,3,5,0.60,3,5,...,0,0.00,15.0,3.0,0 - 6 - 6,2,1.0,3.0,3,21.0
48593,108857,RASTA Vechta,24,24,26:56,2,4,0.50,0,3,...,0,0.00,4.0,1.0,1 - 2 - 3,4,1.0,0.0,1,3.0
48594,108857,RASTA Vechta,77,77,22:44,3,7,0.43,0,0,...,3,0.33,7.0,0.0,2 - 6 - 8,2,0.0,1.0,3,7.0
48595,108857,RASTA Vechta,999,999,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,6,0,0.0,0.0,0,6.0
48596,108854,ROSTOCK SEAWOLVES,0,0,15:11,1,2,0.50,0,2,...,1,1.00,3.0,0.0,1 - 6 - 7,1,1.0,2.0,0,10.0
48597,108854,ROSTOCK SEAWOLVES,2,2,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0 - 0 - 0,0,0.0,0.0,0,0.0
48598,108854,ROSTOCK SEAWOLVES,4,4,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,0 - 0 - 0,0,0.0,0.0,0,0.0
48599,108854,ROSTOCK SEAWOLVES,5,5,27:10,2,6,0.33,3,4,...,4,0.75,16.0,2.0,2 - 5 - 7,4,0.0,4.0,1,22.0
48600,108854,ROSTOCK SEAWOLVES,14,14,27:04,2,6,0.33,2,8,...,0,0.00,10.0,2.0,0 - 3 - 3,3,0.0,1.0,3,3.0
48601,108854,ROSTOCK SEAWOLVES,18,18,28:24,4,8,0.50,0,0,...,8,0.38,11.0,1.0,3 - 3 - 6,2,1.0,1.0,3,8.0
48602,108854,ROSTOCK SEAWOLVES,19,19,32:50,3,5,0.60,3,8,...,0,0.00,15.0,5.0,0 - 4 - 4,3,1.0,0.0,3,15.0
48603,108854,ROSTOCK SEAWOLVES,21,21,18:46,0,0,0.00,0,3,...,0,0.00,0.0,0.0,1 - 0 - 1,2,0.0,0.0,1,-3.0
48604,108854,ROSTOCK SEAWOLVES,22,22,27:54,2,6,0.33,0,3,...,0,0.00,4.0,3.0,0 - 4 - 4,2,1.0,1.0,0,6.0
48605,108854,ROSTOCK SEAWOLVES,35,35,22:41,4,6,0.67,2,4,...,0,0.00,14.0,3.0,1 - 0 - 1,4,0.0,0.0,1,13.0
48606,108854,ROSTOCK SEAWOLVES,999,999,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,3,0,0.0,0.0,1,2.0
48607,108854,PS Karlsruhe LIONS,3,3,26:49,0,4,0.00,1,3,...,0,0.00,3.0,2.0,0 - 1 - 1,1,0.0,1.0,4,-3.0
48608,108854,PS Karlsruhe LIONS,7,7,24:58,1,2,0.50,1,3,...,2,1.00,7.0,0.0,0 - 4 - 4,0,1.0,1.0,1,9.0
48609,108854,PS Karlsruhe LIONS,9,9,23:14,2,3,0.67,2,5,...,0,0.00,10.0,1.0,0 - 5 - 5,3,0.0,1.0,3,10.0
48610,108854,PS Karlsruhe LIONS,10,10,35:48,5,12,0.42,4,7,...,0,0.00,22.0,3.0,0 - 7 - 7,1,0.0,1.0,2,21.0
48611,108854,PS Karlsruhe LIONS,11,11,29:57,4,9,0.44,2,2,...,8,1.00,22.0,1.0,0 - 12 - 12,4,0.0,1.0,4,27.0
48612,108854,PS Karlsruhe LIONS,15,15,00:58,0,0,0.00,0,1,...,0,0.00,0.0,0.0,0 - 0 - 0,1,0.0,0.0,0,-1.0
48613,108854,PS Karlsruhe LIONS,20,20,18:16,1,3,0.33,0,1,...,0,0.00,2.0,1.0,0 - 1 - 1,5,0.0,1.0,1,1.0
48614,108854,PS Karlsruhe LIONS,23,23,20:16,1,2,0.50,0,0,...,4,0.50,4.0,0.0,1 - 2 - 3,2,1.0,0.0,0,5.0
48615,108854,PS Karlsruhe LIONS,33,33,19:44,3,4,0.75,0,0,...,4,1.00,10.0,0.0,1 - 2 - 3,2,2.0,1.0,1,14.0
48616,108854,PS Karlsruhe LIONS,999,999,00:00,0,0,0.00,0,0,...,0,0.00,0.0,0.0,4,0,0.0,0.0,0,4.0

In [17]:
# create csv backup
boxscores.to_csv("../data/boxscore_full.csv", sep=";", index=False)

In [18]:
# store the dataframe for further use
%store boxscores

Stored 'boxscores' (DataFrame)