In [1]:
import pandas as pd
#import numpy as np
import psycopg2 # needed to get database exception errors when uploading dataframe
import requests # package for getting data from the web
from sql_functions import get_engine
from sql_functions import upload_to_database

%store -r boxscores

In [3]:
table_name = "boxscores"
engine = get_engine()
schema = "public"

In [3]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        boxscores.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The boxscores table was imported successfully.

In [4]:
%store -r matchdays

In [4]:
if engine!=None:
    try:
        matchdays.to_sql(name="matchdays", # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The matchdays table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

name 'matchdays' is not defined

# Rosters

In [6]:
%store -r rosters 

print("import ok")
table_name = "rosters"
engine = get_engine()
schema = "public"

upload_to_database(rosters, table_name, schema, engine)

import ok
The rosters table was imported successfully.

In [2]:
%store -r boxscore_feature

print("import ok")
table_name = "boxscore_feature"
engine = get_engine()
schema = "public"

upload_to_database(boxscore_feature, table_name, schema, engine)

import ok
The boxscore_feature table was imported successfully.

In [3]:
%store -r boxscore_basic

boxscore_basic.head()

,matchId,team,number,name,sec,2P_P,2P_A,2P_R,3P_P,3P_A,...,Rs,Fs,BLs,STs,TOs,EFs,season,position,NP_Score,NP_%
0,101059,Science City Jena,5.0,Kendall Chones,944,2,3,0.67,0,0,...,3,4,1.0,1.0,1,6.0,Saison_2014_2015,C,3.361901,8.165220
1,101059,Science City Jena,7.0,Ermen Reyes-Napoles,1486,2,4,0.50,1,1,...,4,4,0.0,4.0,1,15.0,Saison_2014_2015,PG,11.123115,27.015272
2,101059,Science City Jena,8.0,Lukas Wank,0,0,0,0.00,0,0,...,0,0,0.0,0.0,0,0.0,Saison_2014_2015,PG,0.000000,0.000000
3,101059,Science City Jena,9.0,Lars Wendt,1491,2,2,1.00,0,2,...,1,1,0.0,0.0,4,0.0,Saison_2014_2015,PG,1.527270,3.709359
4,101059,Science City Jena,10.0,Sascha Leutloff,665,1,3,0.33,0,0,...,3,1,1.0,0.0,2,4.0,Saison_2014_2015,SF,4.805176,11.670575

In [4]:
table_name = "boxscore_NP_Score"
engine = get_engine()
schema = "public"

upload_to_database(boxscore_basic, table_name, schema, engine)

The boxscore_NP_Score table was imported successfully.